{% extends 'base.html' %}

{% block content %}
<div class="list-group">
  {% for webtoon in webtoons %}
  <a href="{% url 'webtoon-detail' pk=webtoon.pk %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <div>
        <h5 class="mb-1">{{ webtoon.title }}</h5>
        <small id="webtoon-id-small-tag">id: {{ webtoon.webtoon_id }}</small>
      </div>
      <div class="icon-box">
        <i class="fas fa-angle-right" id="arrow-right"></i>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
